.grid-container {
    display: grid;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

h2 {
    color: #444444;
    text-align: center;
}

/* Navigation Bar */
.topnav a.icon {
    display: none;
}

a {
    list-style-type: none;
}
a:hover {
    /*
    color: #666666;*/
    text-decoration: none;
    
}

.topnav{
    text-align: center;
    padding: 4%;
    float: left;
}

.topnav a{
    padding-left: 30px;
    color: aliceblue;
    margin-left: 10px;
}

#sign-up {
    border: white 2px solid;
    border-radius: 20px;
    padding: 10px;
}

#logo {
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 25px;
    margin-left: 100px;
    margin-right: 200px;
}

/*       --------------        */

/*  Header  */
.header-info {
    margin: 15%;
    text-align: center;
    color: white;
}

.header-title {
    font-weight: bolder;
    font-size: 60px;
}

header {
    text-align: center;
    background-image: url("../dreamshare_assets/assets/headerBackground.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.btn-primary {
    border: #FF4E50 2px solid;
    border-radius: 25px;
    background-color: #FF4E50;
    padding: 15px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #FF4E50;
}

/*       ---------------       */

section {
    padding-bottom: 40px;
}

section h2 {
    padding: 50px 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

/* Section A */
.section-a {
    /*display: inline-grid;*/
    margin-bottom: 20px;
}

.btn-outline {
    color: #FF4E50;
    border: #FF4E50 2px solid;
    border-radius: 20px;
    background-color: white;
}

button {
    font-weight: bold;
}

#partners-btn {
    text-align: center;
}

.thumbnail {
    text-align: center;
}

.thumbnail img {
    border: 2px solid;
    border-radius: 50%;
}

.thumbnail p {
    color: #666666;
    font-size: 10px;
}

.thumbnail h4 {
    color: #444444;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.section-a .col-md-3 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

#partners {
    text-align: center;
}

/*      ---------------       */

/*  Section B  */

.section-b {
    text-align: center;
}

.section-b img {
    border-radius: 5px;
}

.blocks {
    display: inline-block;
    padding: 10px;
}

.blocks img:hover{
    cursor: pointer;
}

/*      ---------------       */

/*   Footer  */
footer {
    border-top: 2px solid #FF4E50;
    padding-top: 20px;
}

footer .blocks {
    margin-top: 0;
    vertical-align: top;
    text-align: left;
    margin-left: 30px;
}

footer h5,
#footer-logo {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

footer .col-md-12 {
    text-align: center;
    padding-top: 20px;
}

footer a {
    color: #666666;
}

footer p {
    color: #666666;
}

#footer-logo {
    color: #FF4E50;
    margin-right: 80px;
}

#view-all a {
    color: #FF4E50;
}

li {
    list-style-type: none;
}


/*       -------------   */

/*  Media Quiries*/
@media only screen and (max-width: 680px) {

    /*  Mobile First Navigation Bar  */
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .fa-bars {
        font-size: 30px;
        padding-right: 20px;
    }

    .topnav.topnav.responsive {
        display: inline;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: fixed;
        float: right;
        left: 10px;
        top: 0;
        color: aqua;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .topnav a {
        text-decoration: none;
        color: white;
        padding: 15px;
    }
    /*   ----------------------      */
    

    .section-a .col-md-3 {
        display: inline;
    }

    footer .blocks {
        display: inline;
        text-align: center;
    }

    #footer-logo {
        margin-right: 0;
    }
}